<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
<context:annotation-config />
<bean class="com.spring.auto.wire.annotation.Address" name="address" >
<property name="street" value="back side baba grill" />
<property name="city" value="amritsar" />
</bean>
 

 <bean class="com.spring.auto.wire.annotation.emp" name="emp" >
 
 <!--  <bean class="com.spring.auto.wire.annotation.emp" name="emp" autowire="constructor"> -->
 <!--  <bean class="com.spring.auto.wire.annotation.emp" name="emp" autowire="byType"> -->
 
 </bean>
  </beans>